<html>
<head>

</head>
<body>

<main>
    {% block main-block %}

        {% block page-header %}
            <h1 class="page-header">{{ page-header }}</h1>
        {% endblock %}

        <div class="content">
            {{ page-content }}
        </div>

    {% endblock %}
</main>

</body>
</html>